header {
  padding: 1.5em 3em;
}

header .right,
header .left {
  display: flex;
  align-items: center;
}

header .left {
  gap: 3em;
}

header .left select {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: var(--gray);
}

header .right {
  justify-content: flex-end;
}

header .right a {
  margin-left: 2em;
}

header .right a:nth-child(2) {
  border: 2px solid var(--gray);
  padding: 0.8em 1em;
  border-radius: 15px;
}

header .right a:nth-child(2):hover {
  border-color: var(--black);
  color: var(--black);
}
